@model ProjectMedic.Models.Working_Room

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Working_Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkingRoom_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingRoom_Number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkingRoom_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
